include partials/_doctype
html(xmlns='http://www.w3.org/1999/xhtml')
  head: include partials/_meta
  body.home-page
    include partials/_header
    include partials/_main
    include partials/_footer
